.vscode/*
obj/*
plots/*/*
plots/yields*
plots/cutflow*
combine/cache/*
combine/__pycache__/*
combine/UL17/*
config/Varial/*
*workdir*
*.dat
*.log
*.json
*.xml
*.root
*.pdf
*.o
*.e
*.log
2HDMC.txt
!data/ScaleFactors/*
!data/ScaleFactors/VJetsCorrections/*