.vscode/*
obj/*
data/output_01_preselection/*
data/output_02_reconstruction/*
data/output_03_templates/*
combine/cache/*
factory/cache/*
*/__pycache__/*
combine/UL17/*
*workdir*
*.json
*.xml
*.pdf
*.png
*.o
*.e
*.log
2HDMC.txt
*/tmp/*
