.vscode/*
obj/*
mystuff/*
plots/*/*
plots/yields*
plots/cutflow*
combine/cache/*
combine/__pycache__/*
combine/UL17/*
config/Varial/*
*workdir*
*.dat
*.log
*.json
*.xml
*.root
*.pdf
*.o
*.e
*.log
2HDMC.txt
!merged_kfactors_wjets.root
!merged_kfactors_zjets.root
!2017_gen_v_pt_qcd_sf.root
!kfac_dy_filter.root
!kfac_znn_filter.root
!lindert_qcd_nnlo_sf.root